# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data & Models
data/
models/
*.pkl
*.h5
*.pt
*.txt
*.csv
*.tsv
*.xlsx
!models/.keep

# Environment & Config
.env
config.yaml

# Docker
*.log
docker-compose.yml

# OS
.DS_Store
Thumbs.db

# Others
*.swp
*.bak
test_docker_creds.sh
!requirements.txt
storage/gcs-key.json

