# API y producción
fastapi
uvicorn
python-dotenv

# ML (torch ya está en imagen base)
lightgbm
scikit-learn
xgboost

# Procesamiento de datos
pandas
numpy

# Testing
pytest
requests

# Utilidades
tqdm
